[Desktop Entry]
Encoding=UTF-8
Name=dogecash
Comment=dogecash P2P Cryptocurrency
Comment[fr]=dogecash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=dogecash, eşten eşe kriptografik sanal para birimi
Exec=dogecash-qt %u
Terminal=false
Type=Application
Icon=dogecash128
MimeType=x-scheme-handler/dogecash;
Categories=Office;Finance;
StartupWMClass=Pivx-qt
