[Desktop Entry]
Encoding=UTF-8
Name=DogeCash
Comment=DogeCash P2P Cryptocurrency
Comment[fr]=DogeCash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=DogeCash, eşten eşe kriptografik sanal para birimi
Exec=DogeCash-qt %u
Terminal=false
Type=Application
Icon=DogeCash128
MimeType=x-scheme-handler/DogeCash;
Categories=Office;Finance;
