policy_module(DogeCash, 1.100.1)

########################################
#
# Declarations
#

type DogeCash_t;
type DogeCash_exec_t;
init_daemon_domain(DogeCash_t, DogeCash_exec_t)

permissive DogeCash_t;

type DogeCash_initrc_exec_t;
init_script_file(DogeCash_initrc_exec_t)

type DogeCash_conf_t;
files_type(DogeCash_conf_t)

type DogeCash_var_lib_t;
files_type(DogeCash_var_lib_t)

type DogeCash_var_run_t;
files_type(DogeCash_var_run_t)

type DogeCash_port_t;
corenet_port(DogeCash_port_t)

########################################
#
# DogeCash local policy
#
allow DogeCash_t self:process { fork };

allow DogeCash_t self:fifo_file rw_fifo_file_perms;
allow DogeCash_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(DogeCash_t, DogeCash_conf_t, DogeCash_conf_t)
manage_files_pattern(DogeCash_t, DogeCash_conf_t, DogeCash_conf_t)

manage_dirs_pattern(DogeCash_t, DogeCash_var_lib_t, DogeCash_var_lib_t)
manage_files_pattern(DogeCash_t, DogeCash_var_lib_t, DogeCash_var_lib_t)
files_var_lib_filetrans(DogeCash_t, DogeCash_var_lib_t, { dir file })

manage_dirs_pattern(DogeCash_t, DogeCash_var_run_t, DogeCash_var_run_t)
manage_files_pattern(DogeCash_t, DogeCash_var_run_t, DogeCash_var_run_t)

sysnet_dns_name_resolve(DogeCash_t)
corenet_all_recvfrom_unlabeled(DogeCash_t)

allow DogeCash_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(DogeCash_t)
corenet_tcp_sendrecv_generic_node(DogeCash_t)
corenet_tcp_sendrecv_all_ports(DogeCash_t)
corenet_tcp_bind_generic_node(DogeCash_t)

gen_require(`
    type DogeCash_port_t;
')
allow DogeCash_t DogeCash_port_t:tcp_socket name_bind;

gen_require(`
    type DogeCash_port_t;
')
allow DogeCash_t DogeCash_port_t:tcp_socket name_connect;

domain_use_interactive_fds(DogeCash_t)

files_read_etc_files(DogeCash_t)

miscfiles_read_localization(DogeCash_t)

sysnet_dns_name_resolve(DogeCash_t)

allow DogeCash_t DogeCash_exec_t:file execute_no_trans;
allow DogeCash_t self:process setsched;
corecmd_exec_ls(DogeCash_t)
corenet_tcp_connect_http_port(DogeCash_t)
dev_read_urand(DogeCash_t)
fs_getattr_xattr_fs(DogeCash_t)
kernel_read_system_state(DogeCash_t)
