# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=DOGECASH Core
Comment=DOGECASH Core QT main network
GenericName=DOGECASH Digital Currency QT client main network
Exec=dogecash-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/dogecash.png
MimeType=x-scheme-handler/dogecash;
Categories=X-Office;X-Finance;
Keywords=internet;dogecash;zdogec;dogec;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
