# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=DOGECASH Core
Comment=DOGECASH Core QT test network
GenericName=DOGECASH Digital Currency QT client testnet network
Exec=dogecash-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/dogecash_testnet.png
MimeType=x-scheme-handler/dogec;
Categories=X-Office;X-Finance;
Keywords=internet;dogecash;zdogec;tdogec;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
