# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=DOGECASH Core Daemon SNAP
Comment=main
GenericName=DOGECASH Digital Currency Daemon Client main network
Exec=dogecash-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/dogecash.png
MimeType=x-scheme-handler/dogec;
Categories=X-Office;X-Finance;
Keywords=internet;dogecash;zdogec;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
